@font-face {
  font-family: 'CiscoSans';
  src: url('../fonts/CiscoSansRegular.otf') format('opentype');
}
@font-face {
  font-family: 'CiscoSans-Thin';
  src: url('../fonts/CiscoSansThin.otf') format('opentype');
}
@font-face {
  font-family: 'CiscoSans-Light';
  src: url('../fonts/CiscoSansLight.otf') format('opentype');
}
@font-face {
  font-family: 'CiscoSans-ExtraLight';
  src: url('../fonts/CiscoSansExtraLight.otf') format('opentype');
}


/* Gobals
 ***************************************************/
body {
	font-family: 'CiscoSans-ExtraLight', 'Arial Light', Arial, sans-serif !important;
	margin: 0;
	padding: 0;
}
/*body * { outline: 1px solid red; }*/
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-family: 'CiscoSans-Thin', 'Arial Light', Arial, sans-serif !important;
}
h1 { color: #333 !important; }
h2 { color: #666 !important; }
h3 { color: #999 !important; }
h4 { color: #666 !important; }
h5 { color: #999 !important; }
h6 { color: #ccc !important; }
p, li, small {
	font-family: 'CiscoSans-ExtraLight', 'Arial Light', Arial, sans-serif !important;
}
a {
	font-family: 'CiscoSans Bold', Arial, sans-serif;
}
a.main {
	font-weight: 800;
}
button, .btn {
	margin: 0;
	padding: 6px 20px;
	font-size: 1.2rem !important;
	font-family: 'CiscoSans', Arial, sans-serif !important;
	color: #666 !important;
	background-color: #c7db5d;
	border: none;
	border-radius: 100px !important;
}
button:hover, .btn:hover {
	color: #fff !important;
	background-color: #049fd9 !important;
}
button.primary {
	padding: 6px 40px;
}
button.secondary {
	background-color: #ccc;
}
.btn-space {
	margin: 15px !important;
}
.btn-top {
	margin-top: 15px !important;
}
.btn-bottom {
	margin-bottom: 15px !important;
}
.btn-wide {
	border-radius: 100px !important;
	padding-left: 60px !important;
	padding-right: 60px !important;
}
.btn-wire {
	color: #999 !important;
	border: 1px solid #999;
	border-radius: 100px;
	background-color: #fff;
}
.btn-cancel {
	color: #999;
	border: none;
	border-radius: 100px;
	background-color: #f3f6f9;
}
.btn-delete { 
	color: #cf2030 !important;
	border: 1px solid #cf2030;
	background-color: #fff;
	/*opacity: 0.4;*/
}
.btn-view-all {
	margin: 60px auto 0;
}
.btn-large {
	padding-left: 40px !important;
	padding-right: 40px !important;
}
.btn-group-left {
	border: 2px solid #c7db5d;
	margin-left: 4px !important;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}
.btn-group-right {
	border: 2px solid #c7db5d;
	margin-right: 4px !important;
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}
.btn-group-left:hover,
.btn-group-right:hover {
	border-color: #049fd9 !important;
}
.img-spaced {
	padding: 2px;
}
.img-bottom {
	margin-bottom: 10px;
}
.img-avatar-small {
	width: 24px !important;
	height: 24px !important;
	margin: 0 2px 2px 0 !important;
}
.img-avatar {
	width: 32px !important;
	height: 32px !important;
	margin: 0 5px 5px 0 !important;
}
.img-avatar-big {
	width: 60px !important;
	height: 60px !important;
	margin: 0 10px 10px 0 !important;
}
.block {
	display: block;
	margin-left: auto !important;
	margin-right: auto !important;
}
.nomargin {
	margin: 0 !important;
}
.nopadding {
	padding: 0 !important;
}
.nospace {
	margin: 0 !important;
	padding: 0 !important;
}
.minipad {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

/* bootstrap styles */
.container-fluid {
	margin: 0 !important;
	padding: 0 !important;
}

/* special styles */
.border-bottom {
	border-bottom: 1px solid #eee;
}
.headline {
	margin-bottom: 40px;
}
.description {
	
}
.section {
	margin-top: 20px;
	margin-bottom: 60px;
}
.participants {
	float: right;
	padding-top: 20px;
}
.blade {
	margin: 20px 0;
	padding: 40px inherit;
	background-color: #e8ecf2;
}
.blade p.dek {
	font-size: 2rem;
}
	.blade.white {
		background-color: #fff;
	}
	.blade.grey {
		background-color: #e8ecf2;
	}
	.blade.blue {
		color: #fff !important;
		background-color: #049fd9;
	}
	
	.blade.center {
		text-align: center !important;
	}
.description-box {
	margin: 40px 0 !important;
	padding: 0 !important;
}
.narrow,
.nar-row {
	margin-right: 0 !important;
	margin-left: 0 !important;
}
.nopad {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.clickable {
	
}
img.avatar-small {
	margin: 0 2px 4px 0;
	border-radius: 24px;
	width: 24px !important;
	height: 24px !important;
}
img.avatar {
	margin: 0 2px 4px 0;
	border-radius: 36px;
	width: 36px !important;
	height: 36px !important;
}
img.avatar-big {
	margin: 0 2px 4px 0;
	border-radius: 48px;
	width: 48px !important;
	height: 48px !important;
}

/* Messages
 ***************************************************/
#messages {
	position: fixed;
	color: #f30;
	background-color: #fff;
}

/* Spark 
 ***************************************************/
#spark {
	position: fixed;
	top: 10px;
	right: -1000px;
	bottom: 10px;
	width: 400px;
	margin: 10px;
	padding: 0;
	border-radius: 20px;
}
#spark.on {
	right: 10px !important;
}
#spark.wide {
	width: 97% !important;
}
#sparkicon {
	position: fixed;
	bottom: 15px;
	right: 15px;
	width: 60px;
	height: 60px;
	padding-top: 20px;
	color: #fff;
	font-size: 1.2rem;
	border-radius: 200px;
	text-align: center;
	background-color: #333;
}
#sparkbox {
	position: absolute;
	display: none;
	width: 0%;
	height: 0%;
	background: #fff;
	border: 1px solid #eee;
	border-radius: 20px !important;
	z-index: -999999;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
#sparkbox.on {
	width: 100%;
	height: 100%;
	z-index: 999999;
}
#sparkbox .resize {
	position: absolute;
	top: 0px;
	left: 10px;
	font-size: 3rem;
}
#sparkbox .resize img {
	margin-top: 5px;
	width: 20px;
}
#sparkbox .close {
	position: absolute;
	top: 0px;
	right: 10px;
	font-size: 3rem;
}
#sparkframe {
	width: 100%;
	height: 100%;
	border: none !important;
	border-radius: 20px !important;
}

/* Header
 ***************************************************/
#header {
	margin: 0;
	padding: 0;
	height: 97px !important;
	border-bottom: 1px solid #eee;
}
#header a {
	
}
#header ul,
#header ol {
	margin: 0 !important;
	padding: 0 !important;
}
.navbar {
	margin-bottom: 0;
}
.brand {
	
}
.brand-link {
	display: block;
	margin: 0 16px !important;
	padding: 40px 0 30px !important;
	color: #999;
	font-family: 'CiscoSans-ExtraLight', 'Arial Light', Arial, sans-serif !important;
	text-decoration: none !important;
	border-bottom: 5px solid #fff;
}
.brand-link:hover,
.brand-link.selected {
	color: #049fd9;
	border-bottom: 5px solid #fff;
}
.navbar-brand {
	height: 95px !important;
}
.menu-link.navbar-brand {
	padding-left: 0 !important;
}
.navbar-brand img.header-logo {
	width: 80px;
	margin: -15px 20px 0 0;
}
#navbar-toggle-button {
	width: 44px;
	height: 44px;
	margin-top: 30px;
	background-color: #666 !important;
	border-radius: 100px !important;
}
/* sub-nav */
.header-title {
	margin: 30px 40px 0 20px;
}
.header-title a {
	color: #666;
}
/* menu */
..menu-box {
	
}
.menu-list {
	margin-bottom: 0 !important;
}
.menu-item {
	
}
a.menu-link {
	display: block;
	margin: 0 16px !important;
	padding: 40px 0 30px !important;
	color: #999;
	font-family: 'CiscoSans-ExtraLight', 'Arial Light', Arial, sans-serif !important;
	text-decoration: none !important;
	border-bottom: 5px solid #fff;
}
.menu-link.usermenu {
	display: block;
	border-bottom: none !important;
}
.menu-link img {
	float: left;
	margin: -10px 10px;
}
.menu-link:hover,
.menu-link.selected {
	color: #049fd9;
	border-bottom: 5px solid #049fd9;
	background-color: #fff !important;
}
.dropdown-menu {
	background-color: #fff;
	border: none;
	border-radius: 0;
}
.dropdown-menu>li>a {
	color: #999;
	font-family: 'CiscoSans-ExtraLight', 'Arial Light', Arial, sans-serif !important;
	border-left: 2px solid #fff;
	/*border-bottom: 5px solid #fff;*/
}
.dropdown-menu>li>a:hover {
	color: #333;
	background-color: #fff;
	border-left: 2px solid #ccc; 
	/*border-bottom: 5px solid #049fd9;*/
}
.dropdown-menu>li:first-child {
	padding-top: 10px !important;
}
.dropdown-menu>li:last-child {
	padding-bottom: 10px !important;
}

/* login */
#login-button {
	margin: 32px 10;
	padding: 6px 20px;
}

#user-account {
	float: right;
}
.account-button {
	margin-top: 30px;
}
#account-menu {
	display: none;
	position: absolute;
	min-width: 200px;
	margin: 0;
	padding: 0;
	border: 1px solid #ccc;
	background-color: #fff;
	list-style-type: none;
}
#account-menu.open {
	display: block;
}
#account-menu li {
	margin: 0;
	padding: 10px;
}
#account-menu hr {
	margin: 0;
	padding: 0;
}


/* Content
 ***************************************************/
#content {
	margin: 0;
	padding: 20px 0;
}

/* breadcrumbs */
#content .breadcrumbs {
	/*float: left;*/
	margin: 0 0 20px 0;
}

/* notifications
 **********************************************************/
.note-item {
	margin: 10px auto;
	padding: 10px 20px;
}
.note-item small {
	display: block;
}

/* experiences page (not in use)
 **********************************************************/
.exp-item {
	padding: 20px 0;
	margin: 0;
	/*border: 1px solid red;*/
}
.exp-box {
	background-color: #fff;
}
.exp-image-box {
	position: relative;
	width: 100%;
	height: 100px;
	background-color: #ccc;
	overflow: hidden;
}
.exp-image-box img {
	position: absolute;
	width: 100%;
	height: auto;
}
.exp-name {
	margin: 15px 30px 0px 30px;
	position: relative;
	height: 60px;
}
.exp-name a {
	position: absolute;
	top: 0;
}
.exp-meta {
	margin-left: 30px;
	margin-right: 30px;
	height: 20px;
}
.exp-description {
	height: 60px;
	margin-left: 30px;
	margin-right: 30px;
	overflow: hidden;
}
.exp-instructor {
	height: 50px;
	margin-top: 10px;
	margin-left: 30px;
	margin-right: 30px;
}
.exp-instructor .exp-instructor-icon {
	float: left;
}
.exp-instructor .exp-instructor-name {
	float: left;
	margin-left: 10px;
}
.exp-item button {
	margin: 10px 30px 30px;
	padding-left: 40px;
	padding-right: 40px;
}

/* CAMPUS
 **********************************************************/
.discussions-item {
	margin: 0;
	padding: 10px 0;
	border-top: 1px solid #eee;
}
.discussions-header h3 {
	margin: 10px 0;
	padding: 0;
} 
.discussions-people ul li {
	margin: 0;
	padding: 0;
}
.discussions-people-label {
	margin: 0 !important;
	padding: 0 0 12px 0 !important;
}
.discussions-title h3 {
	margin-top: 10px;
}
.discussions-meta {
	margin-top: 8px;
	color: #aaa;
}
.discussions-meta small {
	color: #aaa;
}
.discussions-meta-dark {
	margin-top: 8px;
	color: #666;
}
.discussions-comment {
	margin-bottom: 20px;
	color: #666;
}
.discussions-comment h4 {
	margin: 0 0 4px;
}
.discussions-people-label,
.discussions-comment small {
	margin-top: 2px !important;
	color: #aaa;
	font-size: 1.2rem;
}
.discussions-comment span {
	font-size: 1.2rem;
}
.blade.grey .discussions-item {
	border-top: 1px solid #fff;
}
.blade.grey .border-bottom {
	border-bottom: 1px solid #fff;
}

/* threads */
.thread-item {
	margin: 0 0 0 60px !important;
	padding: 20px 0;
	border-top: 1px solid #eee;
}
.thread-item.first-reply {
	margin-left: 0 !important;
	padding: 10px 0 !important;
}
.thread-avatar {
	margin: 0;
	padding: 0;
}
.thread-content {
	color: #aaa;
	font-size: 1.4rem;
	line-height: 2rem;
}
.thread-content-header {
	margin: 4px 0 12px;
	font-size: 1.6rem;
}
.thread-item.first-reply .thread-content {
	font-size: 1.6rem;
	line-height: 2.2rem;
}
.thread-item.first-reply .thread-content-header {
	margin: 8px 0 20px;
	font-size: 2rem;
}
.thread-avatar {
	margin-right: 10px;
}
.thread-content ul.thread-attachments {
	margin: 0 0 20px 20px;
	padding: 0;
}
.thread-content ul.thread-attachments li {
	list-style-type: none;
	padding: 10px 0 0 0;
}
.thread-content ul.thread-attachments li .attachment-icon {
	margin-right: 10px;
}
.thread-content ul.thread-attachments li .attachment-filename {
	
}
.thread-content .thread-subtitle {
	margin: 0 0 0 20px;
	color: #bbb;
	font-size: 1.4rem;
}
.thread-item .thread-comment {
	padding-left: 0 !important;
}
/* inline attachments */
.attachment-inline {
	margin: 0 0 20px 20px;
}
.attachment-inline span {
	padding: 10px 0 0 0;
}
.attachment-inline .attachment-icon {
	margin-right: 10px;
}
.attachment-inline .attachment-filename {
	margin-right: 10px;
}

/* reply */
.reply-area {
	padding: 10px 0 10px 60px;
}
.reply-area .reply-button {
	display: none;
	margin-top: 10px;
	padding: 6px 40px;
}
.reply-area .reply-form {
	display: block;
	padding: 10px;
}
.reply-form .reply-field {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 1px solid #ccc;
}
.reply-form .reply-submit-button {
	margin: 20px 0;
	padding: 6px 40px;
}
.reply-form .reply-attach-doc {
	margin-left: 20px;
}
.reply-form .reply-attach-doc-label {
	margin-left: 20px;
}
/* editor */
#content-container {
  margin: auto;
  width: 100%;
}
#formatting-container {
	/*display: none;*/
	background-color: #f5f5f5;
	border-bottom: 1px solid #ccc;
	padding: 5px 12px;
}
#formatting-container .ql-active,
#formatting-container button:hover {
	color: #008000;
	/*font-weight: bold;*/
}
#formatting-container button.ql-format-button {
	color: #666;
	background-color: #ccc;
}
#editor-container {
	height: 60px;
	border: 1px solid #ccc;
}
#editor-container.active {
	height: 300px;
	/*border: 1px solid #aaa;*/
}
#editor-wrapper {
	/*border: 1px solid #aaa;*/
}
#editor-wrapper.active {
	box-shadow: 0 0 2px 2px #ddd;
}
#reply-textarea {
	width: 100%;
	height: 100%;
}
#reply-textarea.active {
	/*border: none;*/
	padding: 10px;
}

/* experiences
 **********************************************************/
#carousel-container-box {
	
}
#carousel-container {
	margin: 0 !important;
	padding: 0 !important;
	background-color: #f3f6f9;
}

/* progress track */
.progress.track {
	border-radius: 0;
	margin-bottom: 0;
	height: 20px;
	-webkit-transition: all 0.2s ease-in-out !important;
	-moz-transition: all 0.2s ease-in-out !important;
	transition: all 0.2s ease-in-out !important;
}
.progress-bar {
	color: #049fd9;
	background-color: #049fd9;
	border-right: 1px solid #fff;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.progress-bar:hover {
	color: #049fd9;
	text-decoration: none;
}
.progress-bar.active {
	
}
.progress.track .progress-bar .desc {
	padding: 10px 0;
	font-size: 1.2rem;
	line-height: 1.5rem;
	opacity: 0;
	-webkit-transition: all 0.2s ease-in-out !important;
	-moz-transition: all 0.2s ease-in-out !important;
	transition: all 0.2s ease-in-out !important;
}
#carousel {
	position: relative;
	/*padding: 30px 0 10px;*/
}
.carousel-box {
	position: relative;
	width: 96%;
	margin: 0 2%;
}
.carousel-box .prev-slide,
.carousel-box .next-slide {
	position: absolute;
	display: block;
	top: 45px;
	width: 33px;
	height: 300px;
	margin-top: -25px;
	padding: 140px 6px;
	color: #999;
	font-size: 2rem;
	background-color: rgba(255,255,255,0.0);
}
.carousel-box .prev-slide:hover,
.carousel-box .next-slide:hover,
.carousel-box .prev-slide:hover span,
.carousel-box .next-slide:hover span {
	cursor: pointer;
	color: #049fd9;
}
.carousel-box .prev-slide {
	left: -2%;
}
.carousel-box .next-slide {
	right: -2%;
}
.carousel-tab-down { /* collapse button */
	/*position: absolute;*/
	float: right;
	/*bottom: 0px;
	right: 5px;*/
	margin: 0;
	padding: 0 15px 15px 5px;
	z-index: 9999 !important;
}
.owl-wrapper-outer {
	margin: 20px 0 0;
	padding: 20px 0;
}
div.owl-controls.clickable {
	float: left;
	width: auto;
	margin: 0 auto 10px;
	background-color: rgba(255,255,255,0) !important;
}
div.owl-controls .owl-pagination .owl-page .owl-numbers {
	/*padding: 15px 20px; touch screens?*/
}
/*.collapse-experience-box {
	position: absolute;
	bottom: 0px;
	right: 5px;
	float: right;
	margin: 0;
	padding: 0;
}*/
.carousel-control {
	width: 5% !important;
	background-image: none !important;
}
.carousel-control .glyphicon {
	color: #049fd9;
}
.carousel-control .glyphicon-menu-left {
	margin-left: 0 !important;
	left: 15px !important;
	
	position: absolute;
	top: 50%;
	z-index: 5;
	display: inline-block;
}
.carousel-control .glyphicon-menu-right {
	margin-right: 0 !important;
	right: 15px !important;
	
	position: absolute;
	top: 50%;
	z-index: 5;
	display: inline-block;
}
.carousel-indicators {
	width: 40%;
	margin-left: -20%;
	bottom: -20px !important;
}
.carousel-indicators li {
	background-color: #ccc !important;
}
.carousel-expand-menu {
	float: left;
	width: 100%;
	margin: 10px 0;
	text-align: right;
}

/* toggle and hidden classes */
.hidden-item {
	display: none;
	/*-webkit-transform: scale(0.0) !important;
	transform: scale(0.0) !important;
	height: 0 !important;
	opacity: 0;
	line-height: 0;
	margin: 0;
	display: none !important;*/
}
.toggle-button,
.toggle-box {
	/*-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;*/
}

/* experience-container */
.experience-container {
	background-color: #f3f6f9;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

/* experience items */
.experience-item {
	margin: 0 !important;
	padding: 0 !important;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.experience-item.active,
.experience-item:hover {
	-webkit-transform: scale(1.08);
	-moz-transform:    scale(1.08);
	transform:         scale(1.08);
}
.experience-item.wide {
	width: 100% !important;
}
.experience-item .experience-link {
	display: block;
	text-decoration: none !important;
	width: 90%;
	height: 300px;
	margin: 0 5%;
	padding: 0;
	background-color: #fff;
	border-bottom: 3px solid #fff;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.experience-item.active .experience-link,
.experience-item .experience-link:hover {
	/*border-bottom-color: #049fd9; BOTTOM BORDER MARKER */
}
.experience-item.active .experience-link {
	border-bottom-color: #049fd9;
}
.experience-item .experience-link p {
	padding: 0 20px;
}
.experience-image {
	
}
.experience-name {
	font-size: 1.8rem;
	line-height: 2rem;
	/*height: 70px;*/
	padding: 10px 20px;
	color: #049fd9 !important;
}
.experience-meta {
	height: 20px;
	font-size: 1.2rem;
	font-family: 'CiscoSans Bold', Arial, sans-serif;
}
.experience-meta strong {
	font-family: 'CiscoSans Bold', Arial, sans-serif;
}
.experience-button {
	display: none;
	margin-top: 15px;
}
.experience-desc {
	color: #999;
	/*width: 70%;*/
	font-size: 1.2rem;
	line-height: 1.6rem;
}
.experience-drawer {
	position: relative;
	float: left;
	/*width: 100%;*/
}
.experience-hours {
	position: absolute;
	bottom: 10px;
}

/* experience pages */
#show-experience-page {
	width: 100%;
	margin: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.experience-wrapper {
	visibility: hidden;
}
.experience-page {
	
}
.experience-page small {
	color: #999;
}
.experience-masthead {
	margin-top: 20px;
}
.experience-masthead.collapsed {
	margin-top: 0;
	padding: 20px 0 10px 10px;
	background-color: #369;
	border-top: 1px solid #fff;
}
.experience-masthead.collapsed small,
.experience-masthead.collapsed h2 {
	color: #fff !important;
}
.experience-page .experience-overview {
	margin: 0;
	border-bottom: 1px solid #ccc;
}
.experience-page .experience-overview p {
	padding: 10px 0;
}
.experience-page .experience-overview h3 a {
	font-size: 1.2rem;
}
.experience-overview-menu {
	margin-top: 20px;
}
.experience-overview-button {
	display: none;
}
.overview-button-on {
	margin-bottom: 20px;
}

/* experience activities */
.activity-item {
	margin: 20px 0 0 0;
	padding: 0 0 10px 0;
	border-bottom: 1px dotted #eee;
}
.activity-item img {
	float: left;
	height: auto;
}
.activity-content {
	padding: 0 0 5px 40px;
	font-size: 1.4rem;
}
.activity-content a.activity-action {
	display: inline-block;
	padding-top: 10px;
	font-size: 1.2rem;
}

/* courses & projects */
.course-box {
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #ccc;
	border-top: 6px solid #369;
	/*border-top-left-radius: 4px;
	border-top-right-radius: 4px;*/
}
.project-box {
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #ccc;
	border-top: 6px solid #369;
	/*border-top-left-radius: 4px;
	border-top-right-radius: 4px;*/
}
.project-box .sponsor {
	height: 55px;
	margin: -10px -10px 15px -10px;
	background-color: #f3f6f9;
}
.project-box .sponsor a {
	display: block;
	float: left;
	width: 100%;
	margin: 0;
	padding: 8px 10px;
	font-size: 1.4rem;
}
.project-box .sponsor a .sponsor-name {
	display: inline-block;
	float: left;
}
.project-box .sponsor a .sponsor-name small {
	display: block;
}
.project-box .sponsor a .sponsor-icon {
	display: inline-block;
	float: right;
	margin: 0;
	padding: 0;
}
.project-box .sponsor a .sponsor-icon img {
	height: 40px;
	width: auto;
	margin: 0;
	padding: 0;
}
.project-box .project-team {
	margin: 0;
	padding: 5px 0;
	font-size: 1rem;
}
.project-box .project-desc {
	margin: 0;
	padding: 5px 0;
}
.project-box h4,
.course-box h4 {
	margin: 5px 0;
	padding: 0;
}
.project-box p,
.course-box p {
	font-size: 1.1rem;
}
/* overlay */
#team-member-container {
	min-height: 60px;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #ccc;
}
#team-member-container .added-member {
	display: inline-block; 
	margin: 3px 5px;
	padding: 4px;
	border-radius: 3px;
	border: 1px solid #f0f3f6;
	background-color: #f6f9fc;
}

/* projects
 **********************************************************/
.project {
	margin: 0;
	padding: 20px 0;
}
/* sponsor */
#sponsor {
	float: right;
	width: 23.5%;
	margin: 0 0 20px;
	border: 5px solid #f3f6f9;
	background-color: #f3f6f9;
}
#sponsor .sponsor-name {
	padding: 0 0 0 5px;
	float: left;
	font-size: 1.4rem;
}
#sponsor .sponsor-name small {
	display: block;
	margin: 3px 0 0 0;
	color: #999;
	font-size: 1.2rem;
}
#sponsor .sponsor-image {
	float: right;
	margin: 0;
	padding: 0;
}
#sponsor .sponsor-image img {
	float: right;
	height: 50px;
	width: auto;
	margin: 0 0 0 10px;
	padding: 0;
}
/* header */
.project .project-header {
	
}
.project .project-header h1.headline {
	margin: 0 0 10px 0;
}
.project .project-header h1.headline small {
	color: #ccc;
}
.project .project-header .description {
	margin: 10px 0 20px;
	color: #999;
}
.project-content {
	color: #333;
	font-size: 1.4rem;
	line-height: 2rem;
	border-top: 1px solid #eee;
}
.project-content .reply-area {
	padding-left: 0;
}
.project-content .wiki-html {
}
.project-content .wiki-html img {
	display: block;
	margin: 20px 20px 40px 0;
}
.project-content .wiki-html pre {
	margin: 20px 0;
}
.project-content .project-subtitle {
	margin: 0 0 0 20px;
	color: #bbb;
	font-size: 1.4rem;
}
.project .project-comment {
	padding-left: 0 !important;
}
.project-comment-header {
	margin: 4px 0 12px;
	font-size: 1.6rem;
}
.wiki-pages-menu {
	margin: 0 0 40px 0 !important;
}
.wiki-pages-menu ul {
	width: 100%;
	margin: 0 0 0 -8px;
	padding: 0;
	color: #049fd9;
	list-style-type: disc;
	list-style-position: inside;
}
.wiki-pages-menu li {
	margin: 0;
	padding: 0;
}
.wiki-pages-menu li a {
	display: block;
	margin: 0;
	padding: 5px 10px;
	color: #049fd9;
}
.wiki-pages-menu li a:hover {
	background-color: #f3f6f9;
	text-decoration: none;
}
#repo-box .repo-code {
	margin: 0;
	padding: 0;
}
#repo-box .repo-code .repo h1 {
	margin: 0 0 10px;
	padding: 0;
	font-size: 1.4rem;
}
#repo-box .repo-scrapbook {
	margin: 20px 0;
	padding: 0;
}
#repo-box .repo-scrapbook .scrapbook-file {
	display: block;
	width: 100%;
	height: 100px;
	margin: 0 0 10px;
	padding: 10px 5px;
	text-align: center;
	font-size: 1.2rem;
	line-height: 1.4rem;
	background-color: #f3f6f9;
}
#repo-box .repo-scrapbook .scrapbook-file:hover {
	background-color: #e3e6e9;
}
#repo-box .repo-scrapbook .scrapbook-file img {
	display: block;
	margin: 0 auto 5px;
}

/*#projects div {
	margin: 10px 0;
	padding: 10px 0;
	border-top: 1px solid #ddd;
}
#projects div a {
	display: block;
	font-size: 1.6rem;
	margin: 10px 0;
}
#projects div p {
	color: #999;
	font-size: 1.2rem;
	margin-bottom: 0;
}*/

#projects[last-item] {
	
}

.proj-item {
	margin: 10px 0;
	padding: 10px 0;
	border-top: 1px solid #ddd;
}
.proj-item:last-child {
	border-bottom: 1px solid #ddd;
}
.proj-title {
	display: block;
	margin: 5px 0 10px;
	font-weight: 600;
}
.proj-desc {
	margin: 0 0 0 30px;
	color: #999;
	font-size: 1.2rem;
	line-height: 1.6rem;
}
#wiki-html {
	margin-bottom: 10px;
	padding-bottom: 40px;
	border-bottom: 1px solid #eee;
}
#wiki-html #wiki-html-content {
	margin-bottom: 40px;
}
#wiki-edit-btn {
	
}
#wiki-edit {
	display: none;
}
#wiki-edit textarea {
	margin-top: 20px;
	min-height: 300px;
}
#wiki-box #wiki-html {
	
}
#wiki-box .wiki-pages-menu {
	float: left;
	margin: 10px 0 0;
	padding: 5px 20px 20px;
	background-color: #f3f6f9;
}
#wiki-box .wiki-pages-menu ul {
	list-style-type: none;
}
#wiki-box .wiki-page-title {
	margin: 20px 0 0;
	padding: 0 0 20px;
	border-bottom: 1px dotted #ccc;
}
/* reply */
.wiki-reply-area {
	/*float: left;*/
	width: 100%;
	padding: 10px 0;
	/*border-top: 1px dotted #ddd;*/
	background-color: #f6f9fc;
}
.wiki-reply-area .reply-button {
	display: none;
	margin-top: 10px;
	padding: 6px 40px;
}
.wiki-reply-area .reply-form {
	display: block;
	padding: 10px;
}
.wiki-reply-area .reply-form .reply-field {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 1px solid #ccc;
}
.wiki-reply-area .reply-form .reply-submit-button {
	margin: 20px 0;
	padding: 6px 40px;
}
.wiki-reply-area .reply-form .reply-attach-doc {
	margin-left: 0;
}
.wiki-reply-area .reply-form .reply-attach-doc-label {
	margin-left: 0;
}

/* services
 **********************************************************/
.services-area {
	margin-bottom: 40px;
}
.services-sidebar {
	margin: 65px 0 0 55px;
}
/* service items */
.service-item {
	padding: 10px 0 0;
}
.service-item a {
	width: 96%;
	height: 180px;
	margin: 0 2%;
	padding: 5px;
	display: block;
	text-align: center;
	background-color: #fff;
	border: 1px solid #e3e6e9;
}
.service-item a:hover {
	text-decoration: none;
	/*border: 1px solid #049fd9;*/
	background-color: #f3f6f9;
	border: 1px solid #f3f6f9;
}
.service-item a h4,
.service-item a:hover h4 {
	margin: 0;
	padding: 0 0 5px 0;
	color: #049fd9 !important;
	text-decoration: none;
}
.service-item a p,
.service-item a:hover p {
	margin: 0;
	padding: 0 0 10px 0;
	color: #666;
	font-size: 1.1rem;
	text-decoration: none;
}
.service-item a img {
	max-width: 120px;
	max-height: 80px;
	margin: 10px auto 20px;
}
/* service resources */
.services-area.resources {
	/*margin-left: 0px;*/
	padding: 20px;
	background-color: #f3f6f9;
}
.services-area.resources ul {
	margin: 0;
	padding: 0;
}
.services-area.resources ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.services-area.resources ul li a {
	display: block;
	margin: 0;
	padding: 5px;
}
.services-area.resources ul li a:hover {
	text-decoration: none;
	background-color: #f3f6f9;
}

/* account page
 *********************************************************/
.account-masthead {
	margin: 0;
	padding: 20px 0;
	background: #666;
}
.account-masthead h2.title {
	float: left;
	color: #fff !important;
}
ul.scoreboard {
	margin: 10px 0;
}
ul.scoreboard li.scorebox {
	float: left;
	display: inline-block;
	width: 100px;
	height: auto;
	margin: 0 10px 0;
	padding: 10px;
	text-align: center;
	color: #fff;
	/*border: 1px solid #fff;
	background-color: #fff;*/
	list-style-type: none;
}
ul.scoreboard li.scorebox .score-number {
	font-size: 4rem;
	font-weight: 900;
}
ul.scoreboard li.scorebox .score-label {
	
}
.account-content {
	margin-top: 40px;
}

/* sidebars
 **********************************************************/
.sidebar {  }
.sidebar h4 {  }
.sidebar .meta {
	display: block; color: #999;
}
.sidebar-grey {
	background-color: #e8ecf2;
}
.sidebar-light-grey {
	background-color: #fafafa;
}
.sidebar .section {
	margin: 0;
	padding: 20px;
}

/* conversations
 **********************************************************/
.conv-item {
	margin: 0;
	padding: 10px 0;
	border-top: 1px solid #ddd;
}
.conv-item.border-bottom {
	border-bottom: 1px solid #ddd;
}
.conv-avatar {
	margin: 10px 0 0 10px;
}
.conv-thread {
	margin-bottom: 5px;
	font-weight: 600;
}
.conv-message {
	margin-top: 0px;
	font-size: 1.2rem;
}

/* jobs
 **********************************************************/
.job-item {
	margin: 0;
	padding: 15px 0;
	border-top: 1px solid #ddd;
}
.job-item.border-bottom {
	border-bottom: 1px solid #ddd;
}
.job-logo {
	margin: 2px 0 0 10px;
}
.job-desc {
	margin: 0px;
	padding: 0;
	font-size: 1.2rem;
}
.job-title {
	margin: 0;
	padding: 2px 0;
	font-size: 1.8rem;
}

/* Admin
 *****************************************/
.admin-section {
	
}
.admin-section .truncate {
	border: 1px solid red;
	overflow: hidden !important;
}
.admin-section .service-icon {
	max-width: 80px;
	height: auto;
}
#edit-modal {
	position: absolute;
	display: none;
	float: left;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}
#edit-modal .bg {
	position: fixed;
	float: left;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.95);
	z-index: -1000;
}
#edit-modal .edit-box {
	position: absolute;
	/*display: none;*/
	float: left;
	width: 60%;
	margin: 5% 20%;
}
#edit-modal .form-box {
	padding: 10px;
	border: 1px solid #fff;
	background-color: #f3f6f9;
}
#edit-modal .form-box.fixed-height {
	height: 60px;
}
#edit-modal label.wide {
	width: 100%;
	margin-top: 5px;
}
#edit-modal small {
	font-weight: 300;
}

/* Footer
 ***************************************************/
#footer {
	margin: 60px 0 0;
	padding: 40px 0;
	background-color: #e8ecf2;
}
#footer .footer-row {
	margin-bottom: 40px;
}
#footer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#footer ul li {
	
}