/* media queries */

/* carousel */
@media (max-width: 438px) {
	.carousel-xtrasmall {
		display: block !important;
		visibility: visible !important;
		pointer-events: auto;
	}
	.carousel-small {
		display: none;
		visibility: hidden;
		pointer-events: none;
	}
	.carousel-medium {
		display: none;
		visibility: hidden;
		pointer-events: none;
	}
	.carousel-large {
		display: none;
		visibility: hidden;
		pointer-events: none;
	}
	.btn-top {
		margin-top: 0 !important;
	}
}
@media (min-width: 439px) and (max-width: 760px) {
	.carousel-xtrasmall {
		display: none;
		visibility: hidden;
		pointer-events: none;
	}
	.carousel-small {
		display: block !important;
		visibility: visible !important;
		pointer-events: auto;
	}
	.carousel-medium {
		display: none;
		visibility: hidden;
		pointer-events: none;
	}
	.carousel-large {
		display: none;
		visibility: hidden;
		pointer-events: none;
	}
	.btn-top {
		margin-top: 0 !important;
	}
}
@media (min-width: 761px) and (max-width: 1440px) {
	.carousel-xtrasmall {
		display: none;
		visibility: hidden;
		pointer-events: none;
	}
	.carousel-small {
		display: none;
		visibility: hidden;
		pointer-events: none;
	}
	.carousel-medium {
		display: block !important;
		visibility: visible !important;
		pointer-events: auto;
	}
	.carousel-large {
		display: none;
		visibility: hidden;
		pointer-events: none;
	}
}
@media (min-width: 1441px) {
	.carousel-xtrasmall {
		display: none;
		visibility: hidden;
		pointer-events: none;
	}
	.carousel-small {
		display: none;
		visibility: hidden;
		pointer-events: none;
	}
	.carousel-medium {
		display: none;
		visibility: hidden;
		pointer-events: none;
	}
	.carousel-large {
		display: block !important;
		visibility: visible !important;
		pointer-events: auto;
	}
}